{% extends "pizzas/base.html" %}



{% block page_header %}
<div class="jumbotron">
    <h1 class="display-3">Welcome to Slice of Heaven!</h1>
    
    <p class="lead">There is a pizza for everyone here!</p>

</div>




  {% endblock page_header %}

  {% block content %}

  <pre>
    <span style="color:white; font-size:medium;">
        In the bustling city, amidst the hustle and bustle,
        A little slice of heaven lies nestled,
        
        A pizzeria, with a warm and inviting glow,
        Where deliciousness awaits, ready to go,
        
        With pizzas that are made with love and care,
        Each bite a symphony of flavors, truly rare,
        
        The crust is crispy, the cheese is gooey,
        A taste sensation that's out of this world, truly,
        
        But it's not just the pizza that makes this place divine,
        It's the atmosphere, the laughter, the smiles that shine,
        
        Here, everyone is welcome, no matter who you are,
        Come one, come all, to A Slice of Heaven Pizzeria,
        
        A little slice of heaven, right here on earth,
        Where the pizza is always hot, and the love flows from the hearth.
</span>
</pre>
{% endblock content %}